.fire-type {
  background-color: #e69452;
}

.water-type {
  background-color: #4f92da;
}

.steel-type {
  background-color: #598ea3;
}

.dragon-type {
  background-color: #2c6dc3;
}

.electrik-type {
  background-color: #f4d23a;
}

.insect-type {
  background-color: #92c22b;
}

.plant-type {
  background-color: #64be5a;
}

.shrink-type {
  background-color: #f3737b;
}

.ground-type {
  background-color: #d87038;
}

.darkness-type {
  background-color: #5a5365;
}

.fight-type {
  background-color: #cd3665;
}

.fairy-type {
  background-color: #ec90e7;
}

.iceCream-type {
  background-color: #74cfc1;
}

.normal-type {
  background-color: #9aa5af;
}

.poison-type {
  background-color: #aa6bc8;
}

.rock-type {
  background-color: #c2b284;
}

.spectrum-type {
  background-color: #5169ad;
}

.flight-type {
  background-color: #91abdf;
}
